aiortc
faiss-cpu
fastapi
groq
gTTS
joblib
mlflow
mpmath>=1.3.0
networkx
numpy
ortools
pandas
Pillow
pydantic
pydub
pymongo
python-multipart
python-socketio
requests
scikit-learn
scikit-surprise
sentence-transformers
shap
socketio
sympy
torch
transformers
uvicorn
whisper
mysql-connector-python
